<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/css/vendor/ionicons.min.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins/slick.css">
    <link rel="stylesheet" href="assets/css/plugins/animation.css">
    <link rel="stylesheet" href="assets/css/plugins/jqueryui.min.css">

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from avobe) -->
    <!--
    <script src="assets/js/vendor/vendor.min.js"></script>
    <script src="assets/js/plugins/plugins.min.js"></script>
    -->

    <!-- Main Style CSS (Please use minify version for better website load performance) -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!--<link rel="stylesheet" href="assets/css/style.min.css">-->

</head>

<body>

    <div class="main-wrapper">

        <header class="fl-header">

            <!-- Header Top Start -->
            <div class="header-top-area d-none d-lg-block">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="header-top-inner">
                                <div class="row">
                                    <div class="col-lg-4 col-md-3">
                                        <div class="social-top">
                                            <ul>
                                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                                <li><a href="#"><i class="ion-social-tumblr"></i></a></li>
                                                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-9">
                                        <div class="top-info-wrap text-right">
                                            <ul class="top-info">
                                                <li>Mon - Fri : 9am to 5pm </li>
                                                <li><a href="#">+88012345678</a></li>
                                                <li><a href="#">fultalashop@gmail.com</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Top End -->

            <!-- haeader bottom Start -->
            <div class="haeader-bottom-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-2 col-md-4 col-5">
                            <div class="logo-area">
                                <a href="login.html"><img src="assets/images/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-8 d-none d-lg-block">
                            <div class="main-menu-area text-center">
                                <!--  Start Mainmenu Nav-->
                                <nav class="main-navigation">
                                    <ul>
                                        <li><a href="login.html">Home</a></li>
                                        <li><a href="shop.html">Shop List</a>
                                        <li><a href="product-details.html">Product Details</a></li>
                                    </ul>
                                </nav>

                            </div>
                        </div>

                        <div class="col-lg-2 col-md-8 col-7">
                            <div class="right-blok-box d-flex">
                                <div class="search-wrap">
                                    <a href="#" class="trigger-search"><i class="ion-ios-search-strong"></i></a>
                                </div>

                                <div class="user-wrap">
                                    <a href="wishlist.html"><i class="ion-android-favorite-outline"></i></a>
                                </div>


                                <div class="shopping-cart-wrap">
                                    <a href="#"><i class="ion-ios-cart-outline"></i> <span id="cart-total">2</span></a>
                                    <ul class="mini-cart">
                                        <li class="cart-item">
                                            <div class="cart-image">
                                                <a href="product-details.html"><img alt="" src="assets/images/product/product-01.jpg"></a>
                                            </div>
                                            <div class="cart-title">
                                                <a href="product-details.html">
                                                    <h4>Product Name 01</h4>
                                                </a>
                                                <span class="quantity">1 ×</span>
                                                <div class="price-box"><span class="new-price">$130.00</span></div>
                                                <a class="remove_from_cart" href="#"><i class="icon-trash icons"></i></a>
                                            </div>
                                        </li>
                                        <li class="cart-item">
                                            <div class="cart-image">
                                                <a href="product-details.html"><img alt="" src="assets/images/product/product-02.jpg"></a>
                                            </div>
                                            <div class="cart-title">
                                                <a href="product-details.html">
                                                    <h4>Product Name 03</h4>
                                                </a>
                                                <span class="quantity">1 ×</span>
                                                <div class="price-box"><span class="new-price">$130.00</span></div>
                                                <a class="remove_from_cart" href="#"><i class="icon-trash icons"></i></a>
                                            </div>
                                        </li>
                                        <li class="subtotal-titles">
                                            <div class="subtotal-titles">
                                                <h3>Sub-Total :</h3><span>$ 230.99</span>
                                            </div>
                                        </li>
                                        <li class="mini-cart-btns">
                                            <div class="cart-btns">
                                                <a href="cart.html">View cart</a>
                                                <a href="checkout.html">Checkout</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="mobile-menu-btn d-block d-lg-none">
                                    <div class="off-canvas-btn">
                                        <i class="ion-android-menu"></i>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- haeader bottom End -->

            <!-- main-search start -->
            <div class="main-search-active">
                <div class="sidebar-search-icon">
                    <button class="search-close"><span class="ion-android-close"></span></button>
                </div>
                <div class="sidebar-search-input">
                    <form>
                        <div class="form-search">
                            <input id="search" class="input-text" value="" placeholder="Search entire store here ..." type="search">
                            <button class="search-btn" type="button">
                                <i class="ion-ios-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- main-search start -->


            <!-- off-canvas menu start -->
            <aside class="off-canvas-wrapper">
                <div class="off-canvas-overlay"></div>
                <div class="off-canvas-inner-content">
                    <div class="btn-close-off-canvas">
                        <i class="ion-android-close"></i>
                    </div>

                    <div class="off-canvas-inner">

                        <!-- mobile menu start -->
                        <div class="mobile-navigation">

                            <!-- mobile menu navigation start -->
                            <nav>
                                <ul class="mobile-menu">
                                    <li><a href="login.html">Home</a></li>
									<li><a href="shop.html">Shop List</a>
									<li><a href="product-details.html">Product Details</a></li>
                                </ul>
                            </nav>
                            <!-- mobile menu navigation end -->
                        </div>
                        <!-- mobile menu end -->



                        <!-- offcanvas widget area start -->
                        <div class="offcanvas-widget-area">
                            <div class="off-canvas-contact-widget">
                                <ul>
                                    <li>
                                        Mon - Fri : 9am to 5pm
                                    </li>
                                    <li>
                                        <a href="#">0123456789</a>
                                    </li>
                                    <li>
                                        <a href="#">info@yourdomain.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="off-canvas-social-widget">
                                <a href="#"><i class="ion-social-facebook"></i></a>
                                <a href="#"><i class="ion-social-twitter"></i></a>
                                <a href="#"><i class="ion-social-tumblr"></i></a>
                                <a href="#"><i class="ion-social-googleplus"></i></a>
                            </div>

                        </div>
                        <!-- offcanvas widget area end -->
                    </div>
                </div>
            </aside>
            <!-- off-canvas menu end -->


        </header>


        <!-- Hero Section Start -->
        <div class="hero-slider hero-slider-one">

            <!-- Single Slide Start -->
            <div class="single-slide" style="background-image: url(assets/images/slider/slide-bg-1.jpg)">
                <!-- Hero Content One Start -->
                <div class="hero-content-one container">
                    <div class="row">
                        <div class="col-lg-10 col-md-10">
                            <div class="slider-text-info">
                                <h2>A <span>Different</span> </h2>
                                <h1>Online <span>Flower</span> Shop </h1>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words...</p>
                                <div class="hero-btn">
                                    <a href="shop.html" class="slider-btn uppercase"><span>SHOP NOW</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Hero Content One End -->
            </div>
            <!-- Single Slide End -->


            <!-- Single Slide Start -->
            <div class="single-slide" style="background-image: url(assets/images/slider/slide-bg-2.jpg)">
                <!-- Hero Content One Start -->
                <div class="hero-content-one container">
                    <div class="row">
                        <div class="col-lg-10 col-md-10">
                            <div class="slider-text-info">
                                <h2>A <span>Different</span> </h2>
                                <h1>Online <span>Flower</span> Shop </h1>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words...</p>
                                <div class="hero-btn">
                                    <a href="shop.html" class="slider-btn uppercase"><span>SHOP NOW</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Hero Content One End -->
            </div>
            <!-- Single Slide End -->


            <!-- Single Slide Start -->
            <div class="single-slide" style="background-image: url(assets/images/slider/slide-bg-3.jpg)">
                <!-- Hero Content One Start -->
                <div class="hero-content-one container">
                    <div class="row">
                        <div class="col-lg-10 col-md-10">
                            <div class="slider-text-info">
                                <h2>A <span>Different</span> </h2>
                                <h1>Online <span>Flower</span> Shop </h1>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words...</p>
                                <div class="hero-btn">
                                    <a href="shop.html" class="slider-btn uppercase"><span>SHOP NOW</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Hero Content One End -->
            </div>
            <!-- Single Slide End -->


        </div>
        <!-- Hero Section End -->

        <!-- Start Product Area -->
        <div class="porduct-area section-pt section-pb-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="section-title text-center">
                            <h2><span>Feature</span> Product</h2>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered lebmid alteration in some ledmid form</p>
                        </div>
                    </div>
                </div>

                <div class="row product-active-lg-4">

                    <div class="col-lg-3">
                        <!-- single-product-wrap start -->
                        <div class="single-product-wrap">
                            <div class="product-image">
                                <a href="product-details.html"><img src="assets/images/product/product-01.jpg" alt="Produce Images"></a>
                                <span class="label">15% Off</span>
                                <div class="product-action">
                                    <a href="#" class="add-to-cart"><i class="ion-bag"></i></a>
                                    <a href="#" class="wishlist"><i class="ion-android-favorite-outline"></i></a>
                                    <a href="#" class="quick-view" data-toggle="modal" data-target="#exampleModalCenter"><i class="ion-ios-search"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3><a href="product-details.html">Product Title</a></h3>
                                <div class="price-box">
                                    <span class="old-price">$56</span>
                                    <span class="new-price">$45</span>
                                </div>
                            </div>
                        </div>
                        <!-- single-product-wrap end -->
                    </div>

                    <div class="col-lg-3">
                        <!-- single-product-wrap start -->
                        <div class="single-product-wrap">
                            <div class="product-image">
                                <a href="product-details.html"><img src="assets/images/product/product-02.jpg" alt="Produce Images"></a>
                                <span class="label">30% Off</span>
                                <div class="product-action">
                                    <a href="#" class="add-to-cart"><i class="ion-bag"></i></a>
                                    <a href="#" class="wishlist"><i class="ion-android-favorite-outline"></i></a>
                                    <a href="#" class="quick-view" data-toggle="modal" data-target="#exampleModalCenter"><i class="ion-ios-search"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3><a href="product-details.html">Product Title</a></h3>
                                <div class="price-box">
                                    <span class="old-price">$25</span>
                                    <span class="new-price">$20</span>
                                </div>
                            </div>
                        </div>
                        <!-- single-product-wrap end -->
                    </div>

                    <div class="col-lg-3">
                        <!-- single-product-wrap start -->
                        <div class="single-product-wrap">
                            <div class="product-image">
                                <a href="product-details.html"><img src="assets/images/product/product-03.jpg" alt="Produce Images"></a>
                                <div class="product-action">
                                    <a href="#" class="add-to-cart"><i class="ion-bag"></i></a>
                                    <a href="#" class="wishlist"><i class="ion-android-favorite-outline"></i></a>
                                    <a href="#" class="quick-view" data-toggle="modal" data-target="#exampleModalCenter"><i class="ion-ios-search"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3><a href="product-details.html">Product Title</a></h3>
                                <div class="price-box">
                                    <span class="old-price">$50</span>
                                    <span class="new-price">$40</span>
                                </div>
                            </div>
                        </div>
                        <!-- single-product-wrap end -->
                    </div>

                    <div class="col-lg-3">
                        <!-- single-product-wrap start -->
                        <div class="single-product-wrap">
                            <div class="product-image">
                                <a href="product-details.html"><img src="assets/images/product/product-04.jpg" alt="Produce Images"></a>
                                <span class="label">30% Off</span>
                                <div class="product-action">
                                    <a href="#" class="add-to-cart"><i class="ion-bag"></i></a>
                                    <a href="#" class="wishlist"><i class="ion-android-favorite-outline"></i></a>
                                    <a href="#" class="quick-view" data-toggle="modal" data-target="#exampleModalCenter"><i class="ion-ios-search"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3><a href="product-details.html">Product Title</a></h3>
                                <div class="price-box">
                                    <span class="old-price">$25</span>
                                    <span class="new-price">$100</span>
                                </div>
                            </div>
                        </div>
                        <!-- single-product-wrap end -->
                    </div>

                    <div class="col-lg-3">
                        <!-- single-product-wrap start -->
                        <div class="single-product-wrap">
                            <div class="product-image">
                                <a href="product-details.html"><img src="assets/images/product/product-06.jpg" alt="Produce Images"></a>
                                <span class="label">30% Off</span>
                                <div class="product-action">
                                    <a href="#" class="add-to-cart"><i class="ion-bag"></i></a>
                                    <a href="#" class="wishlist"><i class="ion-android-favorite-outline"></i></a>
                                    <a href="#" class="quick-view" data-toggle="modal" data-target="#exampleModalCenter"><i class="ion-ios-search"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3><a href="product-details.html">Product Title</a></h3>
                                <div class="price-box">
                                    <span class="old-price">$29</span>
                                    <span class="new-price">$23</span>
                                </div>
                            </div>
                        </div>
                        <!-- single-product-wrap end -->
                    </div>

                </div>
            </div>
        </div>
        <!-- Start Product End -->

        <!-- Banner Area Start -->
        <div class="banner-area section-pb">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-4 col-md-6">
                        <!-- Single Banner Start -->
                        <div class="single-banner mt-30">
                            <img src="assets/images/banner/banner-01.jpg" alt="">
                            <div class="banner-content text-center">
                                <div class="banner-content-box">
                                    <h4>Wedding Surprise</h4>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the have suffered lebmid alteration in some ledmid form</p>
                                    <a href="shop.html">Shop now</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Banner End -->
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <!-- Single Banner Start -->
                        <div class="single-banner mt-30">
                            <img src="assets/images/banner/banner-02.jpg" alt="">
                            <div class="banner-content text-center">
                                <div class="banner-content-box">
                                    <h4>Wedding Surprise</h4>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the have suffered lebmid alteration in some ledmid form</p>
                                    <a href="shop.html">Shop now</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Banner End -->
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <!-- Single Banner Start -->
                        <div class="single-banner mt-30">
                            <img src="assets/images/banner/banner-03.jpg" alt="">
                            <div class="banner-content text-center">
                                <div class="banner-content-box">
                                    <h4>Wedding Surprise</h4>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the have suffered lebmid alteration in some ledmid form</p>
                                    <a href="shop.html">Shop now</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Banner End -->
                    </div>

                </div>
            </div>
        </div>
        <!-- Banner Area End -->

        <!-- Start Product Area -->
        <div class="porduct-area section-pb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="section-title text-center">
                            <h2><span>All</span> Product</h2>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered lebmid alteration in some ledmid form</p>
                        </div>
                    </div>
                </div>

                <div class="row product-two-row-4">

                    <div class="col-lg-12">
                        <!-- single-product-wrap start -->
                        <div class="single-product-wrap">
                            <div class="product-image">
                                <a href="product-details.html"><img src="assets/images/product/product-09.jpg" alt="Produce Images"></a>
                                <span class="label">30% Off</span>
                                <div class="product-action">
                                    <a href="#" class="add-to-cart"><i class="ion-bag"></i></a>
                                    <a href="#" class="wishlist"><i class="ion-android-favorite-outline"></i></a>
                                    <a href="#" class="quick-view" data-toggle="modal" data-target="#exampleModalCenter"><i class="ion-ios-search"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3><a href="product-details.html">Product Title</a></h3>
                                <div class="price-box">
                                    <span class="old-price">$56</span>
                                    <span class="new-price">$45</span>
                                </div>
                            </div>
                        </div>
                        <!-- single-product-wrap end -->
                    </div>

                    <div class="col-lg-12">
                        <!-- single-product-wrap start -->
                        <div class="single-product-wrap">
                            <div class="product-image">
                                <a href="product-details.html"><img src="assets/images/product/product-10.jpg" alt="Produce Images"></a>
                                
                                <div class="product-action">
                                    <a href="#" class="add-to-cart"><i class="ion-bag"></i></a>
                                    <a href="#" class="wishlist"><i class="ion-android-favorite-outline"></i></a>
                                    <a href="#" class="quick-view" data-toggle="modal" data-target="#exampleModalCenter"><i class="ion-ios-search"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3><a href="product-details.html">Product Title</a></h3>
                                <div class="price-box">
                                    <span class="old-price">$25</span>
                                    <span class="new-price">$20</span>
                                </div>
                            </div>
                        </div>
                        <!-- single-product-wrap end -->
                    </div>

                    <div class="col-lg-12">
                        <!-- single-product-wrap start -->
                        <div class="single-product-wrap">
                            <div class="product-image">
                                <a href="product-details.html"><img src="assets/images/product/product-11.jpg" alt="Produce Images"></a>
                                <span class="label">30% Off</span>
                                <div class="product-action">
                                    <a href="#" class="add-to-cart"><i class="ion-bag"></i></a>
                                    <a href="#" class="wishlist"><i class="ion-android-favorite-outline"></i></a>
                                    <a href="#" class="quick-view" data-toggle="modal" data-target="#exampleModalCenter"><i class="ion-ios-search"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3><a href="product-details.html">Product Title</a></h3>
                                <div class="price-box">
                                    <span class="old-price">$50</span>
                                    <span class="new-price">$40</span>
                                </div>
                            </div>
                        </div>
                        <!-- single-product-wrap end -->
                    </div>

                    <div class="col-lg-12">
                        <!-- single-product-wrap start -->
                        <div class="single-product-wrap">
                            <div class="product-image">
                                <a href="product-details.html"><img src="assets/images/product/product-12.jpg" alt="Produce Images"></a>
                                <span class="label">30% Off</span>
                                <div class="product-action">
                                    <a href="#" class="add-to-cart"><i class="ion-bag"></i></a>
                                    <a href="#" class="wishlist"><i class="ion-android-favorite-outline"></i></a>
                                    <a href="#" class="quick-view" data-toggle="modal" data-target="#exampleModalCenter"><i class="ion-ios-search"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3><a href="product-details.html">Product Title</a></h3>
                                <div class="price-box">
                                    <span class="old-price">$25</span>
                                    <span class="new-price">$100</span>
                                </div>
                            </div>
                        </div>
                        <!-- single-product-wrap end -->
                    </div>

                    <div class="col-lg-12">
                        <!-- single-product-wrap start -->
                        <div class="single-product-wrap">
                            <div class="product-image">
                                <a href="product-details.html"><img src="assets/images/product/product-02.jpg" alt="Produce Images"></a>
                                
                                <div class="product-action">
                                    <a href="#" class="add-to-cart"><i class="ion-bag"></i></a>
                                    <a href="#" class="wishlist"><i class="ion-android-favorite-outline"></i></a>
                                    <a href="#" class="quick-view" data-toggle="modal" data-target="#exampleModalCenter"><i class="ion-ios-search"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3><a href="product-details.html">Product Title</a></h3>
                                <div class="price-box">
                                    <span class="old-price">$29</span>
                                    <span class="new-price">$23</span>
                                </div>
                            </div>
                        </div>
                        <!-- single-product-wrap end -->
                    </div>

                    <div class="col-lg-12">
                        <!-- single-product-wrap start -->
                        <div class="single-product-wrap">
                            <div class="product-image">
                                <a href="product-details.html"><img src="assets/images/product/product-01.jpg" alt="Produce Images"></a>
                                <span class="label">30% Off</span>
                                <div class="product-action">
                                    <a href="#" class="add-to-cart"><i class="ion-bag"></i></a>
                                    <a href="#" class="wishlist"><i class="ion-android-favorite-outline"></i></a>
                                    <a href="#" class="quick-view" data-toggle="modal" data-target="#exampleModalCenter"><i class="ion-ios-search"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3><a href="product-details.html">Product Title</a></h3>
                                <div class="price-box">
                                    <span class="old-price">$56</span>
                                    <span class="new-price">$45</span>
                                </div>
                            </div>
                        </div>
                        <!-- single-product-wrap end -->
                    </div>

                    <div class="col-lg-12">
                        <!-- single-product-wrap start -->
                        <div class="single-product-wrap">
                            <div class="product-image">
                                <a href="product-details.html"><img src="assets/images/product/product-05.jpg" alt="Produce Images"></a>
                                <span class="label">30% Off</span>
                                <div class="product-action">
                                    <a href="#" class="add-to-cart"><i class="ion-bag"></i></a>
                                    <a href="#" class="wishlist"><i class="ion-android-favorite-outline"></i></a>
                                    <a href="#" class="quick-view" data-toggle="modal" data-target="#exampleModalCenter"><i class="ion-ios-search"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3><a href="product-details.html">Product Title</a></h3>
                                <div class="price-box">
                                    <span class="old-price">$25</span>
                                    <span class="new-price">$20</span>
                                </div>
                            </div>
                        </div>
                        <!-- single-product-wrap end -->
                    </div>

                    <div class="col-lg-12">
                        <!-- single-product-wrap start -->
                        <div class="single-product-wrap">
                            <div class="product-image">
                                <a href="product-details.html"><img src="assets/images/product/product-03.jpg" alt="Produce Images"></a>
                                <span class="label">30% Off</span>
                                <div class="product-action">
                                    <a href="#" class="add-to-cart"><i class="ion-bag"></i></a>
                                    <a href="#" class="wishlist"><i class="ion-android-favorite-outline"></i></a>
                                    <a href="#" class="quick-view" data-toggle="modal" data-target="#exampleModalCenter"><i class="ion-ios-search"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3><a href="product-details.html">Product Title</a></h3>
                                <div class="price-box">
                                    <span class="old-price">$50</span>
                                    <span class="new-price">$40</span>
                                </div>
                            </div>
                        </div>
                        <!-- single-product-wrap end -->
                    </div>

                    <div class="col-lg-12">
                        <!-- single-product-wrap start -->
                        <div class="single-product-wrap">
                            <div class="product-image">
                                <a href="product-details.html"><img src="assets/images/product/product-04.jpg" alt="Produce Images"></a>
                                <span class="label">30% Off</span>
                                <div class="product-action">
                                    <a href="#" class="add-to-cart"><i class="ion-bag"></i></a>
                                    <a href="#" class="wishlist"><i class="ion-android-favorite-outline"></i></a>
                                    <a href="#" class="quick-view" data-toggle="modal" data-target="#exampleModalCenter"><i class="ion-ios-search"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3><a href="product-details.html">Product Title</a></h3>
                                <div class="price-box">
                                    <span class="old-price">$25</span>
                                    <span class="new-price">$100</span>
                                </div>
                            </div>
                        </div>
                        <!-- single-product-wrap end -->
                    </div>

                    <div class="col-lg-12">
                        <!-- single-product-wrap start -->
                        <div class="single-product-wrap">
                            <div class="product-image">
                                <a href="product-details.html"><img src="assets/images/product/product-02.jpg" alt="Produce Images"></a>
                                <span class="label">30% Off</span>
                                <div class="product-action">
                                    <a href="#" class="add-to-cart"><i class="ion-bag"></i></a>
                                    <a href="#" class="wishlist"><i class="ion-android-favorite-outline"></i></a>
                                    <a href="#" class="quick-view" data-toggle="modal" data-target="#exampleModalCenter"><i class="ion-ios-search"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3><a href="product-details.html">Product Title</a></h3>
                                <div class="price-box">
                                    <span class="old-price">$29</span>
                                    <span class="new-price">$23</span>
                                </div>
                            </div>
                        </div>
                        <!-- single-product-wrap end -->
                    </div>

                </div>
            </div>
        </div>
        <!-- Start Product End -->


        <!-- testimonial-area start -->
        <div class="testimonial-area testimonial-bg bg-gray overly-image section-ptb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-md-2 col-md-8 col-sm-12">
                        <div class="testimonial-slider">
                            <div class="testimonial-inner text-center">
                                <div class="test-cont">
                                    <img src="assets/images/icon/quite.png" alt="">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form. There are many variations of passages.</p>
                                </div>
                                <div class="test-author">
                                    <h5>JONATHON JORDAN</h5>
                                </div>
                            </div>
                            <div class="testimonial-inner text-center">
                                <div class="test-cont">
                                    <img src="assets/images/icon/quite.png" alt="">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form. There are many variations of passages.</p>
                                </div>
                                <div class="test-author">
                                    <h5>Michelle Mitchell</h5>
                                </div>
                            </div>
                            <div class="testimonial-inner text-center">
                                <div class="test-cont">
                                    <img src="assets/images/icon/quite.png" alt="">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form. There are many variations of passages.</p>
                                </div>
                                <div class="test-author">
                                    <h5>Max Mitchell</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- testimonial-area end -->


        <!-- Blog Area Start -->
        <div class="blog-area section-ptb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="section-title text-center">
                            <h2><span>Latest</span> Blog</h2>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered lebmid alteration in some ledmid form</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <!-- single-blog Start -->
                        <div class="single-blog mt-30">
                            <div class="blog-image">
                                <a href="#"><img src="assets/images/blog/blog-03.jpg" alt=""></a>
                                <div class="meta-tag">
                                    <p><span>21</span> / Nov</p>
                                </div>
                            </div>

                            <div class="blog-content">
                                <h4><a href="#">Lorem Ipsum available but majority</a></h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered in some ledmid form There are many majority have suffered </p>
                                <div class="read-more">
                                    <a href="#">READ MORE</a>
                                </div>
                            </div>
                        </div>
                        <!-- single-blog End -->
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <!-- single-blog Start -->
                        <div class="single-blog mt-30">
                            <div class="blog-image">
                                <a href="#"><img src="assets/images/blog/blog-04.jpg" alt=""></a>
                                <div class="meta-tag">
                                    <p><span>26</span> / Nov</p>
                                </div>
                            </div>

                            <div class="blog-content">
                                <h4><a href="#">Available but majority lorem Ipsum </a></h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered in some ledmid form There are many majority have suffered </p>
                                <div class="read-more">
                                    <a href="#">READ MORE</a>
                                </div>
                            </div>
                        </div>
                        <!-- single-blog End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog Area End -->




        <footer>
            <div class="footer-top section-pb section-pt-60">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="widget-footer mt-20">
                                <div class="footer-logo">
                                    <a href="login.html"><img src="assets/images/logo/logo.png" alt=""></a>
                                </div>
                                <p>long established fact that a reader will be distracted by the readable content by the readable content established fact that</p>
                                <div class="newsletter-footer">
                                    <input type="text" placeholder="You Email">
                                    <div class="subscribe-button">
                                        <button class="subscribe-btn">Subscribe</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <div class="widget-footer mt-30">
                                <h6 class="title-widget">QUICK LINK</h6>
                                <ul class="footer-list">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Quick Contact</a></li>
                                    <li><a href="#">Blog Pages</a></li>
                                    <li><a href="#">Concord History</a></li>
                                    <li><a href="#">Client Feed</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="widget-footer mt-30">
                                <h6 class="title-widget">QUICK CONTACT</h6>
                                <ul class="footer-contact">
                                    <li>
                                        <label>Phone</label>
                                        <a href="#">+88013678456313</a>
                                    </li>
                                    <li>
                                        <label>Email</label>
                                        <a href="#">fultala11@gmail.com</a>
                                    </li>
                                    <li>
                                        <label>Address</label>
                                        34/5 evergreen road, concord city <br> New work, United States
                            </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="widget-footer mt-30">
                                <h6 class="title-widget">LATEST BLOG</h6>
                                <ul class="footer-blog">
                                    <li>
                                        <div class="widget-blog-wrap">
                                            <div class="widget-blog-image">
                                                <a href="#"><img src="assets/images/blog/small-blog.jpg" alt=""></a>
                                            </div>
                                            <div class="widget-blog-content">
                                                <h6><a href="#">Some patience for the modern market</a></h6>
                                                <div class="widget-blog-meta">
                                                    <span>21 Aug 2019</span> <span>By <a href="#">Admin</a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="widget-blog-wrap">
                                            <div class="widget-blog-image">
                                                <a href="#"><img src="assets/images/blog/small-blog-02.jpg" alt=""></a>
                                            </div>
                                            <div class="widget-blog-content">
                                                <h6><a href="#">Modern market Some patience for the </a></h6>
                                                <div class="widget-blog-meta">
                                                    <span>13 Aug 2019</span> <span>By <a href="#">Admin</a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="copy-right-text text-center">
                                <p>Copyright &copy; 2019.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>



    </div>

    <!-- JS
============================================ -->

    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <!-- jQuery JS -->
    <script src="assets/js/vendor/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="assets/js/vendor/popper.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>

    <!-- Slick Slider JS -->
    <script src="assets/js/plugins/slick.min.js"></script>
    <!--  Jquery ui JS -->
    <script src="assets/js/plugins/jqueryui.min.js"></script>
    <!--  Scrollup JS -->
    <script src="assets/js/plugins/scrollup.min.js"></script>
    <script src="assets/js/plugins/ajax-contact.js"></script>

    <!-- Vendor & Plugins JS (Please remove the comment from below vendor.min.js & plugins.min.js for better website load performance and remove js files from avobe) -->
    <!--
<script src="assets/js/vendor/vendor.min.js"></script>
<script src="assets/js/plugins/plugins.min.js"></script>
-->

    <!-- Main JS -->
    <script src="assets/js/main.js"></script>

</body>

</html>
